<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Sales Dashboard</title>
    <script src="https://cdn.jsdelivr.net/npm/chart.js"></script>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/css/bootstrap.min.css" rel="stylesheet">
</head>

<body class="bg-light">

    <!--Navigation bar.  This is the same across all my pages-->

    <nav class="navbar navbar-dark bg-dark px-3 mb-4">
        <div class="d-flex align-items-center gap-3">
            <a class="navbar-brand" href="{% url 'home' %}">Maven Coffee Roasters</a>
            <a class="navbar-brand" href="{% url 'transaction_list' %}">Transaction History</a>
            <a class="navbar-brand" href="{% url 'purchase_coffee' %}">Purchase Coffee</a>
            <a class="navbar-brand" href="{% url 'add_product' %}">Add Product</a>
            <a class="navbar-brand" href="{% url 'sales_dashboard' %}">Sales Dashboard</a>
        </div>
    </nav>

    <div class="container">
        <h2 class="mb-4">Product Sales Dashboard</h2>

        <!-- Bar Graph for Sales by Product Category -->
        <div class="card p-3">
            <h4>Sales by Product Category</h4>
            <canvas id="categorySalesChart"></canvas>
        </div>

        <div class="mb-5"></div>

        <!-- Bar Graph for Sales by Product Type -->
        <div class="card p-3">
            <h4>Sales by Product Type</h4>
            <canvas id="typeSalesChart"></canvas>
        </div>
    </div>
    <div class="mb-5"></div>
    <script> 

        var category_labels = JSON.parse('{{ category_labels|escapejs }}');
        var category_values = JSON.parse('{{ category_values|escapejs }}');

        var type_labels = JSON.parse('{{ type_labels|escapejs }}');
        var type_values = JSON.parse('{{ type_values|escapejs }}');
    
        var categoryCtx = document.getElementById('categorySalesChart').getContext('2d');
        var categorySalesChart = new Chart(categoryCtx, {
            type: 'bar',
            data: {
                labels: category_labels,
                datasets: [{
                    label: 'Sales by Product Category',
                    data: category_values,
                    backgroundColor: 'rgba(150, 100, 255, 1)',
                    borderColor: 'rgba(150, 100, 255, 1)',
                    borderWidth: 1
                }]
            }
        });

        var typeCtx = document.getElementById('typeSalesChart').getContext('2d');
        var typeSalesChart = new Chart(typeCtx, {
            type: 'bar',
            data: {
                labels: type_labels,
                datasets: [{
                    label: 'Sales by Product Type',
                    data: type_values,
                    backgroundColor: 'rgba(100, 150, 255, 1)',
                    borderColor: 'rgba(100, 150, 255, 1)',
                    borderWidth: 1
                }]
            }
        });

    </script>
    
</body>
</html>
